<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body class="body">
    <!-- youtube search box -->
    <form method="post">
        <div class="container">

            <div class="row height d-flex justify-content-center align-items-center">
                <div class="list-group">
                    <h1 class="h1">youtube downloader</h1>
                    <div class="input-group">
                        <input class="form-control" type="url" name="youtube_url" id="youtube_url" required>
                        <div class="input-group-append">
                            <input class="btn btn-primary mb-2" type="submit" value="Search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

<footer class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        Made <i style="color: #dc3545;" class="bi bi-heart-fill"></i> with by <a style="font-weight: 900;"
            href="https://github.com/cool-dev-guy">cool-dev-guy</a>
    </div>
</footer>

</html>
